@tailwind base;
@tailwind components;
@tailwind utilities;

.site-container {
    min-height: calc(100vh - 128px);
}
.connect-wallet-box {
    min-height: calc(100vh - 128px);
}
.custom-background {
    background: #0d1334;
}
.custom-border {
    border-color: #0d1334;
}
.custom-text-color {
    color: #0d1334;
}
.custom-background2 {
    background: #e5e0ac;
    transition: 0.3s;
}
.custom-background2:hover {
    background: #dbd376;
}
.custom-border2 {
    border-color: #e5e0ac;
}
.custom-text-color2 {
    color: #e5e0ac
}
#root {
    background: url("./res/background.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}